/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/10/2017, 18:58:40
    Author     : Katarina
*/

h1{
    font-family: sans-serif !important;
    color: red;
}
